<!-- Run the aruco_detect node -->
<launch>
  <!-- namespace for camera input -->
  <!-- <arg name="camera" default="/usb_cam"/> -->
  <arg name="image" default="/usb_cam/image_raw"/>
  <arg name="transport" default="compressed"/>
  <arg name="fiducial_len" default="0.1"/>
  <arg name="dictionary" default="7"/>
  <arg name="do_pose_estimation" default="true"/>
  <arg name="ignore_fiducials" default="" />
  <arg name="fiducial_len_override" default="" />

  <node pkg="aruco_detect" name="aruco_detect"
    type="aruco_detect" output="screen" respawn="false">
    <param name="image_transport" value="$(arg transport)"/>
    <param name="publish_images" value="true" />
    <param name="fiducial_len" value="$(arg fiducial_len)"/>
    <param name="dictionary" value="$(arg dictionary)"/>
    <param name="do_pose_estimation" value="$(arg do_pose_estimation)"/>
    <param name="ignore_fiducials" value="$(arg ignore_fiducials)"/>
    <param name="fiducial_len_override" value="$(arg fiducial_len_override)"/>
    <remap from="/camera/compressed" 
        to="/usb_cam/image_raw/compressed"/>
    <!-- <remap from="/camera_info" to="/usb_cam/camera_info"/> -->
    <remap from="/camera_info" to="/camera/camera_info"/>
  </node>
  <!-- <node pkg="rviz" type="rviz" name="markers_extrinsic" args="-d $(find make_markers)/rviz/sim_config.rviz"/> -->
</launch>
