<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="use_rviz" default="True" />
    <arg name="use_camera" default="True" />
    <arg name="use_bag" default="False" />


<!-- 640x480 -->
    <!-- <group if="$(eval arg('image_width') ==640)"> -->
<node  name="camera_info" pkg="rostopic" type="rostopic"
  args="pub /camera/camera_info sensor_msgs/CameraInfo
 '{header: {seq: 0, stamp: {secs: 0, nsecs: 0}, frame_id: 'camera_link'},
  height: 720, width: 1280, distortion_model: 'plumb_bob',
  D: [0.044910, -0.095019, 0.002565, -0.001458, 0.000000],
  K: [911.178196, 0.000000, 639.992786, 0.000000, 916.117043, 372.544706, 0.000000, 0.000000, 1.000000],
  R: [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0],
  P: [909.595459, 0.000000, 637.410343, 0.000000, 0.000000, 920.342773, 373.389370, 0.000000, 0.000000, 0.000000, 1.000000, 0.000000],
  binning_x: 0, binning_y: 0,
  roi: {x_offset: 0, y_offset: 0, height: 480, width: 640, do_rectify: false}}' -r 2"/>  
    <!-- </group> -->
<!-- 1920x1080  -->
<!-- <node if="$(eval arg('image_width') ==1920)" name="camera_info" pkg="rostopic" type="rostopic"
  args="pub /camera/camera_info sensor_msgs/CameraInfo
 '{header: {seq: 0, stamp: {secs: 0, nsecs: 0}, frame_id: 'camera1'},
  height: 1080, width: 1920, distortion_model: 'plumb_bob',
  D: [0.061957, -0.124832, 0.002573, -0.004753, 0.0],
  K: [1179.598752, 0.0, 928.099247, 0.0, 1177.000389, 558.635461, 0.0, 0.0, 1.0],
  R: [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0],
  P: [1156.897217, 0.0, 908.598013, 0.0, 0.0, 1188.634277, 561.054263, 0.0, 0.0, 0.0, 1.0, 0.0],
  binning_x: 0, binning_y: 0,
  roi: {x_offset: 0, y_offset: 0, height: 1080, width: 1920, do_rectify: false}}' -r 2"/> -->

    <!-- <node pkg="aruco_detector_ocv" type="node" name="aruco_detector_ocv" output="screen">
        <param name="camera" type="string" value="$(arg camera)"/>
        <param name="camera_info" type="string" value="$(arg camera_info)"/>
        <param name="tf_prefix" type="string" value="$(arg tf_prefix)"/>
        <param name="show_detections" type="bool" value="$(arg show_detections)"/>
        <param name="marker_size" type="double" value="$(arg marker_size)"/>
        <param name="dictionary_name" type="string" value="$(arg dictionary_name)"/>
        <param name="image_width" type="double" value="$(arg image_width)"/>
        <param name="image_height" type="double" value="$(arg image_height)"/>
        <param name="blur_window_size" type="double" value="$(arg blur_window_size)"/>
        <param name="num_detected" type="double" value="$(arg num_detected)"/>
        <param name="min_prec_value" type="double" value="$(arg min_prec_value)"/>
    </node> -->

   <group if="$(arg use_rviz)" >
        <node pkg="rviz" type="rviz" name="dme_markers_extrinsic" args="-d $(find make_markers)/rviz/sim_config.rviz"/>
    </group>
</launch>
