<?xml version="1.0"?>

<launch>

<include file="$(find rover_sim)/launch/gazebo_spawn.launch"/>
<!-- <include file="$(find make_markers)/launch/aruco_detect_ros.launch"/> -->

<node pkg="robot_state_publisher" type="robot_state_publisher" name="cam_state_publisher" respawn="false" output="screen"/>
<node name="cam_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" respawn="false" output="screen"/>



<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find rover_description)/urdf/rover_with_lidar.xacro'"/>
   
   <!-- <include file="$(find obito_gazebo)/launch/small_house.launch" />  -->


    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.5"/>
        
    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model rover -x $(arg x) -y $(arg y) -z $(arg z)" />

<!-- <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1 camera_link camera1 100" /> -->

</launch>