<?xml version="1.0"?>

<launch>

<!-- <include file="$(find camera_driver)/launch/ros_camera.launch"/> -->
<include file="$(find multi_rover)/launch/dummy_file.launch"/>
<include file="$(find rover_nav)/launch/map_server.launch"/>
<include file="$(find multi_rover)/launch/static_transform.launch"/>




<!-- <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1 camera_link camera1 100" /> -->

</launch>