<launch>
  <!-- No namespace here as we will share this description.
       Access with slash at the beginning -->
  <param name="robot_description"
    command="$(find xacro)/xacro $(find rover_description)/urdf/rover.xacro" />
    <!--  -->

  <!-- BEGIN ROBOT 1-->
  <group ns="robot1">
    <param name="tf_prefix" value="robot1_tf" />
    <include file="$(find multi_rover)/launch/single_rover.launch" >
      <arg name="init_pose" value="-x 0.20 -y 1 -z 0.5" />
      <arg name="robot_name"  value="Robot1" />
    <node pkg="$(arg robot_name)_joint_state_publisher" type="joint_state_publisher"  name="joint_state_publisher" output="screen"/>
    </include>
  </group>

  

  <!-- BEGIN ROBOT 2-->
  <group ns="robot2">
    <param name="tf_prefix" value="robot2_tf" />
    <include file="$(find multi_rover)/launch/single_rover.launch" >
      <arg name="init_pose" value="-x 0.2 -y 0.5 -z 0.2" />
      <arg name="robot_name"  value="Robot2" />
    <node pkg="$(arg robot_name)_joint_state_publisher" type="joint_state_publisher"  name="joint_state_publisher" output="screen"/>
    </include>

  </group>

  <!-- BEGIN ROBOT 3-->
  <group ns="robot3">
    <param name="tf_prefix" value="robot3_tf" />
    <include file="$(find multi_rover)/launch/single_rover.launch" >
      <arg name="init_pose" value="-x 0.2 -y -0.5 -z 0.2" />
      <arg name="robot_name"  value="Robot3" />
    <node pkg="$(arg robot_name)_joint_state_publisher" type="joint_state_publisher"  name="joint_state_publisher" output="screen"/>
    </include>
  </group>

<!-- BEGIN ROBOT 4-->
    <group ns="robot4">
    <param name="tf_prefix" value="robot4_tf" />
    <include file="$(find multi_rover)/launch/single_rover.launch" >
      <arg name="init_pose" value="-x 0.2 -y -1 -z 0.2" />
      <arg name="robot_name"  value="Robot4" />
    <node pkg="$(arg robot_name)_joint_state_publisher" type="joint_state_publisher"  name="joint_state_publisher" output="screen"/>
    </include>
  </group>

</launch>