<launch>
 <node name="diff_drive_odometry" pkg="diff_drive" type="diff_drive_odometry" output="screen" respawn="true" >
 	<param name="number_of_robots" value='1' />
 	<param name="orig_id" value= "tag_12" />
 	<param name="robot_1_id" value = "tag_10" />
<!-- <arg name="robot_2_id" default = "tag_10"/> -->
<!--  <arg name="robot_3_id" default = "tag_10"/> -->
<!--  <arg name="robot_4_id" default = "tag_10"/> -->
 </node>


</launch>